<IfModule mod_rewrite.c>
    RewriteEngine On
    # Preservar peticiones a la API en la subcarpeta /api2/
    RewriteCond %{REQUEST_URI} !^/api2/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.html [L]
</IfModule>
